.splitter {
  width: 100%;
  height: 100%;
  display: flex;
}

.pane {
  height: 100%;
  padding: 10px;
  overflow-x: auto;
}

.bar {
  width: 3px;
  background: darkgrey;
  height: 100%;
  cursor: ew-resize;
}
