.procedure {
  width: 300px;
  height: 600px;

  .procedure-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cards-container {
    height: 560px;
  }
}